{
    "resourceType": "Patient",
    "id": "{{ generate_uuid }}",
    "text": {
        "status": "generated",
        "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\">Intelligent Patient Template</div>"
    },
    "active": true,
    {% if msg.demographics.gender -%}
    "gender": {% assign g = msg.demographics.gender | downcase -%}
        {% case g -%}
            {% when 'm' -%}"male"
            {% when 'male' -%}"male"
            {% when 'man' -%}"male"
            {% when 'f' -%}"female"
            {% when 'female' -%}"female"
            {% when 'woman' -%}"female"
            {% when 'o' -%}"other"
            {% when 'other' -%}"other"
            {% when 'u' -%}"unknown"
            {% when 'unknown' -%}"unknown"
            {% when 'n/a' -%}"unknown"
            {% else -%}"unknown"
        {% endcase -%},
    {% endif -%}
    {% if msg.demographics.age -%}
    {% assign age = msg.demographics.age -%}
    {% assign birthYear = 2025 | minus: age -%}
    "birthDate": "{{ birthYear }}-01-01",
    "_birthDate": {
        "extension": [{
            "url": "http://hl7.org/fhir/StructureDefinition/patient-birthTime-estimated",
            "valueBoolean": true
        }]
    },
    {% endif -%}
    "managingOrganization": {
        "reference": "Organization/intelligent-system",
        "display": "Intelligent Template System"
    }
}